.landing {
  position: relative;
  display: grid;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);

  &__mainImg{
    position: absolute;
    height: 100vh;
    width: 100%;
  }

  &__filterHeader{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(138, 110, 82, 0.3);
    background-color: rgba(51, 51, 51, 0.6);
  }

  &__logoHeader{
    grid-column: 8/18;
    height: auto ;
  }

  &__slogan {
    grid-column: 8/18;
    grid-row: 6/19;
    z-index: 50;
    width: auto;
  }

  &__titleLine {
    position: relative;
    border-top: 5px solid #DEDEDE;
    grid-column: 4/8;
    grid-row: 6/6;
    z-index: 10;
    border-radius: 5px;
  }

  &__title{
    font-family: 'lobster';
    font-size: 5rem;
    text-align: center;
    font-weight: normal;
  }

  &__textIntro{
    display: grid;
    grid-column: 9/15;
    grid-row: 21/24;
    font-family: map-get($typo, 'text');
    width: auto;
  }

  &__excerptIntro {
    position: absolute;
    color: map-get($colors, whiteColor);
    font-size: 1.3rem;
    text-align: center;
    grid-column: 7/18;
  }

  &__arrowDown{
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 10;
    grid-column: 12/12;
    grid-row: 23/24;
  }


}