.hero { 
  width: 100vw;
  // position: relative;

  &__header {
    display: block;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    font-family: map-get($typo, "lobster");
    color: map-get($colors, whiteColor);
    font-size: 32px;
    margin: 0;
    text-align: end;
    vertical-align: middle;
    width: auto;

  }

  &__container {
    display: flex;
  }

  &__line {
    height: 1px;
    background: map-get($colors, darkColor);
    width:100px;
  }

  &__menu{
    font-size: 24px;
  }
}