header.header 
  div.header__container
    nav.header__menu.menu
      ul.listUnstyled 
        li.header__item
          a.header__link(href="#") Coquetel Bar
        li.header__item
          a.header__link(href="#") Boissons
        li.header__item
          a.header__link(href="#") Menu
        li.header__item
          a.header__link(href="#") Évènements
        li.header__item
          a.header__link(href="#") Réservation
        li.header__item
          a.header__link(href="#") Contact
  
