main.main 
    div.main__slogan
      a(href="#") 
      img.backgroundHeader(src="../../images/headers/headerBoissons.jpg", alt="")
      div.main__titleLine Menu 
      div.main__pageTitle
        p.
        p   
        p 