*, *::before, *::after {
  box-sizing: border-box;
}

header {
  background-color: transparent;
}

body {
  font-family: map-get($typo, 'Montserrat');
  background-color: map-get($colors, backgroundColor);
}



h1, h2 {
  font-family: map-get($typo, title);
  font-size: 4rem;
  color: map-get($colors, whiteColor);
  text-align: center;
  margin: 1%;
  padding: 0;
  letter-spacing: 1px;
}


h3 {
  font-family: map-get($typo, 'Montserrat' );
}

.backgroundHeader{
  width: 100vw;
}