extends ../base.pug 

block title 
  title Coquetel bar 

block main 
  +landing(
    "heading2"
  )
  //- section.hero
  //-   div.hero__header

  //-     h2.hero__title Menu du jour 
  //-   div.hero__container 
  //-     div.hero__.group 
  //-       h4.hero__menu Entrée 
  //-       div.hero__line 
  //-       p.hero__nomPlat Tortilla aux légumes 
  //-       .hero__descriptionPlat pomme de terre, oeufs, formage râpé, poivrons, courgette 
  //-     div.hero__.group 
  //-       h4.hero__menu Plat
  //-       div.hero__line 
  //-       p.hero__nomPlat Burger au reblochon et frites 
  //-       p.hero__descriptionPlat 50g de reblochon de Savoie, 150g de obeuf haché, tomates, cornichons, salade 
  //-     div.hero__.group 
  //-       h4.hero__menu Dessert
  //-       div.hero__line 
  //-       p.hero__nomPlat Fondant au chocolat 
  //-       p.hero__descriptionPlat Crème de marrons

